@import './global.css';
@import './header.css';
@import './sobre.css';

.bg-card {
  background-image: url(img/Design\ sem\ nome.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.card { 
  width: 80%;
  margin: 0px auto;
  padding: 50px 0;
  text-align: start;
  margin-top: -50px;
  padding-top: 120px;
  padding-bottom: 150px;
}
.card img {
  width: 300px;
}
.card h1 {
  color: #E63946;
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  font-size: 130px;
  margin-bottom: -70px;
  margin-top: 5px;
}
.card h2 {
  color: #FF8C00;
  font-family: 'Anton', Arial, Helvetica, sans-serif;
  font-size: 70px;
}
.cardapio {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 200PX;
}
.categ {
  font-size: 50px;
  color: #E63946;
  font-weight: 800;
}
.item {
  color: #FF8C00;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.item span {
  color: #FAFAFA;
  background-color: #E63946;
  padding: 10px 5px;
  border-radius: 50%;
  margin-left: 10px;
}
.igrid {
  color: #FAFAFA;
  font-weight: 600;
  font-size: 18px;
  font-family:'Poppins', Arial, Helvetica, sans-serif;
}
.cardapio div {
  margin-bottom: 20px;
}
.simples {
  justify-self: start;
}
.especial {
  justify-self: end;
}
.combo {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 1200px;
}
.combo .categ {
  text-align: center;
}
.sem {
  grid-column: 1/3;
}
.combo ul {
  padding: 0px;
  margin-left: 20px;
}
.combo ul li {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FAFAFA;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .bg-card {
    background-image: url(img/bg-2.png);
  }
}
@media (min-width: 1050px) and (max-width:1200px) {
  .bg-card {
    background-image: url(img/bg-2.png);
  }
  .cardapio {
    gap: 20px;
  }
  .simples {
      width: 100%;
  }
  .especial {
      width: 100%;
  }
  .combo {
    width: 100%;
  }
  .combo ul li {
    font-size: 14px;
  }
  .card h1 {
    font-size: 100px;
  }
  .card h2 {
    font-size: 60px;
  }
  .categ {
    font-size: 30px;
  }
  .item {
    font-size: 20px;
  }
  .igrid {
    font-size: 14px;
    width: 70%;
  }
}
@media (min-width: 570px) and (max-width: 1050px) {
  .coluna {
    grid-template-columns: 1fr;
  }
  .fundo {
    width: 60%;
    justify-self: center;
  }
  .bg-card {
    background-image: url(img/bg-2.png);
  }
  .card {
    width: 95%;
  }
  .cardapio {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    text-align: start;
    margin: 0 auto;
    width: 100%;
  }

  .categ {
    font-size: 30px;
    justify-self: start;
    margin-bottom: 0px;
  }
  .simples {
      width: 100%;
  }
  .especial {
      width: 100%;
  }
  .combo {
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .sem {
    grid-column: 1/-1;
  }
  .combo ul li {
    font-size: 12px;
    width: 350px;
  }
  .card h1 {
    font-size: 100px;
  }
  .card h2 {
    font-size: 60px;
  }
  .categ {
    font-size: 30px;
  }
  .item {
    font-size: 20px;
    font-weight: 200;
  }
  .igrid {
    font-size: 14px;
    width: 70%;
  }
}
@media (max-width: 570px) {
  .card { 
    width: 90%;
  }
  .card h1 {
    font-size: 80px;
    margin-bottom: -60px;
  }
  .card h2 {
    font-size: 50px;
  }
  .cardapio {
    text-align: start;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .categ {
    font-size: 30px;
    justify-self: start;
    margin-bottom: 0px;
  }
  .item {
    font-size: 15px;
    font-weight: bolder;
  }
  .igrid {
    font-size: 12px;
    width: 350px;
  }
  .simples {
    justify-self: start;
  }
  .especial {
    justify-self: start;
    
  }
  .combo {
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    width: 1200px;
  }
  .sem {
    grid-column: 1;
  }
  .combo ul li {
    font-size: 12px;
    width: 350px;
  }
  .bg-card {
    background-image: none;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #222;
  }
}

